# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [21]:
df_salary = df[pd.notna(df['salary_year_avg'])].copy()
df_salary
#To Calculate the projjected salary for the next year...

def projectedSalary(Salary):
    return Salary * 1.03

df_salary['salary_year_inflated'] = df_salary['salary_year_avg'].apply(projectedSalary)

df_salary[['salary_year_inflated','salary_year_avg']]

        salary_year_inflated  salary_year_avg
28                 112785.00         109500.0
77                 144200.00         140000.0
92                 123600.00         120000.0
100                235068.66         228222.0
109                 91670.00          89000.0
...                      ...              ...
785624             143392.48         139216.0
785641             154500.00         150000.0
785648             228531.25         221875.0
785682             162225.00         157500.0
785692             162225.00         157500.0

[22003 rows x 2 columns]

In [23]:
def projectedSalary(Salary):
    return Salary * 1.03

df['salary_year_inflated'] = df['salary_year_avg'] * 1.03

df_salary[['salary_year_inflated','salary_year_avg']]

        salary_year_inflated  salary_year_avg
28                 112785.00         109500.0
77                 144200.00         140000.0
92                 123600.00         120000.0
100                235068.66         228222.0
109                 91670.00          89000.0
...                      ...              ...
785624             143392.48         139216.0
785641             154500.00         150000.0
785648             228531.25         221875.0
785682             162225.00         157500.0
785692             162225.00         157500.0

[22003 rows x 2 columns]

In [30]:
import ast
type(df['job_skills'][1])

type(ast.literal_eval(df['job_skills'][1]))

list

In [32]:
def clean_list(skill_list):
    return ast.literal_eval(skill_list)

df['job_skills'] = df['job_skills'].apply(clean_list) #error cause there were some NONE values!!!

ValueError: malformed node or string: None

In [35]:
def clean_list(skill_list):
    if pd.notna(skill_list):
        return ast.literal_eval(skill_list)

df['job_skills'] = df['job_skills'].apply(clean_list) #error cause there were some NONE values!!!

In [36]:
type(df['job_skills'][1])

list

In [46]:
df['job_skills'] = df['job_skills'].apply(
    lambda skill_list: ast.literal_eval(skill_list)
    if isinstance(skill_list, str) else skill_list
)
type(df['job_skills'][1])

list

In [48]:
df['job_skills'][1]

['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']

Using Apply method to the Rows...

In [65]:
def projectedSalary(row):
    if "senior" in row['job_title_short']:
        return 1.05 * row['salary_year_avg']
    else:
        return 1.03 * row['salary_year_avg']

df_salary["salary_year_inflated"] = df_salary.apply(projectedSalary, axis = 1)

df_salary[['job_title_short',"salary_year_inflated", "salary_year_avg"]]

       job_title_short  salary_year_inflated  salary_year_avg
28      Data Scientist             112785.00         109500.0
77       Data Engineer             144200.00         140000.0
92       Data Engineer             123600.00         120000.0
100     Data Scientist             235068.66         228222.0
109       Data Analyst              91670.00          89000.0
...                ...                   ...              ...
785624   Data Engineer             143392.48         139216.0
785641   Data Engineer             154500.00         150000.0
785648  Data Scientist             228531.25         221875.0
785682  Data Scientist             162225.00         157500.0
785692  Data Scientist             162225.00         157500.0

[22003 rows x 3 columns]