In [12]:
import pandas as pd
import matplotlib.pyplot as plt

from datasets import load_dataset
# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#data Cleanup...
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [13]:
df.index

RangeIndex(start=0, stop=785741, step=1)

In [19]:
df.index.name = "Job_Index"

In [15]:
df.index.dtype

dtype('int64')

In [27]:
df_usa = df[df["company_name"] == "United States"]
df_usa.reset_index(inplace= True)
df_usa

,Job_Index,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,38720,Data Scientist,Data Scientist Summer Intern,"Dallas, TX",via ZipRecruiter,Internship,False,"Texas, United States",2023-03-25 06:05:06,False,False,United States,None,NaN,NaN,United States,"['python', 'sql', 'r', 'sas', 'sas', 'pandas',...","{'analyst_tools': ['sas', 'word', 'excel'], 'l..."
1,44907,Data Analyst,Data Analyst,"Dallas, TX",via ZipRecruiter,Full-time,False,"Texas, United States",2023-03-23 06:02:38,False,False,United States,None,NaN,NaN,United States,"['sql', 'javascript', 'python', 'r', 'oracle',...","{'analyst_tools': ['tableau', 'power bi'], 'cl..."
2,652496,Data Engineer,Data Engineer,United States,via BeBee,Full-time,False,"Texas, United States",2023-09-30 10:06:53,False,False,United States,None,NaN,NaN,United States,"['python', 'hadoop', 'spark', 'kafka', 'pyspark']","{'libraries': ['hadoop', 'spark', 'kafka', 'py..."
3,655300,Data Engineer,Data Engineer,United States,via BeBee,Full-time,False,"New York, United States",2023-11-03 10:04:28,False,False,United States,None,NaN,NaN,United States,"['scala', 'sql', 'nosql', 'bigquery', 'spark',...","{'analyst_tools': ['looker'], 'cloud': ['bigqu..."

In [28]:
df_usa.set_index('Job_Index')

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
Job_Index,,,,,,,,,,,,,,,,,
38720,Data Scientist,Data Scientist Summer Intern,"Dallas, TX",via ZipRecruiter,Internship,False,"Texas, United States",2023-03-25 06:05:06,False,False,United States,None,NaN,NaN,United States,"['python', 'sql', 'r', 'sas', 'sas', 'pandas',...","{'analyst_tools': ['sas', 'word', 'excel'], 'l..."
44907,Data Analyst,Data Analyst,"Dallas, TX",via ZipRecruiter,Full-time,False,"Texas, United States",2023-03-23 06:02:38,False,False,United States,None,NaN,NaN,United States,"['sql', 'javascript', 'python', 'r', 'oracle',...","{'analyst_tools': ['tableau', 'power bi'], 'cl..."
652496,Data Engineer,Data Engineer,United States,via BeBee,Full-time,False,"Texas, United States",2023-09-30 10:06:53,False,False,United States,None,NaN,NaN,United States,"['python', 'hadoop', 'spark', 'kafka', 'pyspark']","{'libraries': ['hadoop', 'spark', 'kafka', 'py..."
655300,Data Engineer,Data Engineer,United States,via BeBee,Full-time,False,"New York, United States",2023-11-03 10:04:28,False,False,United States,None,NaN,NaN,United States,"['scala', 'sql', 'nosql', 'bigquery', 'spark',...","{'analyst_tools': ['looker'], 'cloud': ['bigqu..."